@media (max-width:1100px){
    .main {
        width: 800px;
        margin-left: 0 calc(50% - 400px);
    }
}
@media (max-width:800px){
    .main {
        width: 500px;
        margin-left: 0 calc(50% - 250px);
    }
}