@import '../css/base.css';
@import '../css/layout.css';
body {
}
main {
    width: 50%; 
    margin-left: 25%; 
    margin-top: 8%;
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
}
.picture {
    width: 40%;
    float: left;
}
.content {
    width: 50%; 
    margin-top: 14%;
    float: left; 
    margin-left: 10%; 
    text-align: center;
}
.title{
    display: inline-block; 
    width: 100%; 
    font-size: 60px; 
    font-weight: bolder;  
    color:#36404A; 
    margin: 0;}
.paragraphs{
    display: inline-block; 
    width: 100%; 
    font-size: 30px; 
    margin: 0; 
    margin-bottom: 5%;  
    color: #5E6377}
.paragraphs:last-of-type {
    display: inline-block; 
    width: 100%; 
    font-size: 12.5px; 
    color: #7B7E85;
}
.link {
    display: inline-block;
    text-decoration: none; 
    padding: 1.2em; 
    background-color: #696F89; 
    color: #fff; 
    text-transform: uppercase;
}
.conteiner{
    /* max-height: 100vh; */
}

@media (max-width:800px) {
    .conteiner {
        width:500px;
        margin: 0 calc(50% - 250px);
    }
}
@media (max-width:600px) {
    .conteiner {
        width:400px;
        margin: 0 calc(50% - 200px);
    }
}
@media (max-width:440px) {
    .conteiner {
        padding-left: 20px;
        padding-right: 20px;
        width:100%;
        margin: 0;
    }
}
